<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Analyze Sentiment</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='analyze.css') }}">

</head>

<body>

    <div class="container">

        <div class="analyze-card">

            <h1>🧠 Sentiment Analyzer</h1>

            <p>
                Enter any tweet, review, comment or social media post
                and let AI analyze its sentiment.
            </p>

            <form action="/predict" method="POST">

    <textarea
        name="text"
        placeholder="Type your text here..."
        required></textarea>

    <button type="submit">
        Analyze Sentiment
    </button>

</form>

<div class="buttons">

    <a href="/" class="btn home-btn">
        🏠 Home
    </a>

    <a href="/dashboard" class="btn dashboard-btn">
        📊 Dashboard
    </a>

</div>
        

    </div>

</body>

</html>